.display {
  text-align: center;
  background-color: rgb(212, 141, 34);
  padding: 50px;
  margin: 30px 50px;
  border-radius: 20px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

li {
  margin-right: 10px;
  text-decoration: none;
  list-style: none;
}

nav {
  margin-right: 50px;
}

hr {
  width: 30%;
}
